{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="container text-center mb-4">
		<div>
			<h2 class="py-5 mx-5">
				<strong class="reenie">
					L'Atelier Berthie ouvrira ses portes courant 2021. Nous avons hate de vous présenter notre travail et de vous rencontrer.
				</strong>
			</h2>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-4 pl-0 pr-2">
				<img src="{{ asset('assets/img/mck-fleurs.jpg') }}" class="img-fluid" alt="">
			</div>
			<div class="col-4 pl-1 pr-1 ">
				<img src="{{ asset('assets/img/mck-ecrire.jpg') }}" class="img-fluid" alt="">
			</div>
			<div class="col-4 pl-2 pr-0">
				<img src="{{ asset('assets/img/mck-rose.jpg') }}" class="img-fluid" alt="">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="my-5 py-3">
			<h2 class="reenie">
				Perspiciatis, aliquid quam ut error accusamus assumenda illo ad quis officiis commodi ab veniam velit est temporibus odio eveniet inventore esse architecto!Nisi sequi debitis possimus ratione quidem aspernatur perspiciatis.
			</h2>
			<div class="row">
				{% for produit in produits %}
                <h1>{{ produit.id }}</h1>
					<div class="col-6 col-md-3 col-lg-2 pl-0 pr-0">
						<div class="produit-item-image">
							<a href="{{ path('produit', {'slug': produit.slug}) }}">
								<img src="/uploads/{{ produit.couverture}}" class="img-shop" alt="">
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<h2 class="reenie">
				Perspiciatis, aliquid quam ut error accusamus assumenda illo ad quis! Nisi sequi debitis possimus ratione quidem aspernatur perspiciatis totam distinctio itaque assumenda sunt id optio, laborum illum temporibus deleniti fugit nam veniam necessitatibus doloremque enim, hic maiores similique quia. Fugit.
								                Lorem ipsum dolor sit amet consectetur adipisicing elit.
			</h2>

			<h2 class="reenie">
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
			</h2>
		</div>

	</div>
{% endblock %}

