{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container mb-5">
        <div class="row">
           {% for produit in produits %}
                    <div class="col-md-3">
                        <div class="produit-item text-center">
                            <a href="{{ path('produit', {'slug': produit.slug}) }}"><img src="/uploads/{{ produit.couverture}}" class="img-fluid" alt=""></a>
                            <h5><a href="{{ path('produit', {'slug': produit.slug}) }}">{{ produit.titre }}</a></h5>
                            <span class="produit-soustitre">{{ produit.soustitre }}</span>
                            <small class="produit-prix">{{ (produit.prix / 100) | number_format(2) }} &euro;</small>
                        </div>
                    </div>
            {% endfor %}
        </div>
</div>
{% endblock %}
