{% extends 'base.html.twig' %}

{% block title %}Shop
{% endblock %}

{% block body %}
	<div class="container-fluid mb-5">
		<div class="row">
			{% for i in 0..8 %}
				{% for produit in produits %}
					<div class="col-6 col-md-3 col-lg-2 pl-0 pr-0">
						<div class="produit-item-image">
							<a href="{{ path('produit', {'slug': produit.slug}) }}">
								<img src="/uploads/{{ produit.couverture}}" class="img-shop" alt="">
								<div class="produit-item-description" style="background-color:{{ couleur[random(0,10)] }}">
									<div class="produit-item-description-texte">
										<div>
											<span style="font-size: 18px;"><b>{{ produit.titre }}</b></span><br>
											<span><i>{{ produit.soustitre}}</i></span><br>
											<small>{{ (produit.prix / 100) | number_format(2) }}
												&euro;</small>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
{% endblock %}

