{% extends 'base.html.twig' %}

{% block title %}{{ produit.titre }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 text-center">
                <img src="/uploads/{{ produit.couverture}}" class="img-fluid" alt="{{ produit.titre }}">
        </div>
        <div class="col-md-7 my-auto">
                <h1>{{ produit.titre }}</h1>
                <p>{{ produit.soustitre }}</p>
                <small>{{ (produit.prix / 100) | number_format(2) }} &euro;</small>
                <hr>
                <p>{{ produit.description }}<p> 
                <a href="{{ path('add_to_cart', {'id': produit.id}) }}" class="btn btn-primary">Ajouter au panier</a>            
        </div>
    </div>
    {# <hr>
    <h3>Nos meilleurs Ventes!</h3>
    <div class="row mb-5">
           {% for produit in produits %}
                    <div class="col-md-3">
                        <div class="produit-item text-center">
                            <a href="{{ path('produit', {'slug': produit.slug}) }}"><img src="/uploads/{{ produit.couverture}}" class="img-fluid" alt=""></a>
                            <h5><a href="{{ path('produit', {'slug': produit.slug}) }}">{{ produit.titre }}</a></h5>
                            <span class="produit-soustitre">{{ produit.soustitre }}</span>
                            <small class="produit-prix">{{ (produit.prix / 100) | number_format(2) }} &euro;</small>
                        </div>
                    </div>
            {% endfor %}
    </div> #}
</div>      
{% endblock %}
