{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block body %}
<div class="container mt-5" style="margin-bottom: 60px;">
    <h1>Valider ma commande</h1>
    <p>Récapitulatif de votre commande:</p>
    <hr>
    <div class="row">
        <div class="col-md-4 mb-3">
            <strong>Mon adresse de livraison:</strong><br>
            {{ livraison_content | raw }}
            <br> <br>
            <strong>Mon transporteur:</strong><br>
            {{ transporteur.titre }}<br>
            {{ transporteur.description }}<br>
            {{ (transporteur.prix / 100 )| number_format(2) }} €
        </div>
        <div class="col-md-8">
            <b>List de mes produits:</b>
            {% set total = null %}
            {% for produit in cart %}
                <div class="row mt-3">
                    <div class="col-2">
                        <img height="75px" src="/uploads/{{ produit.produit.couverture}}" alt="{{ produit.produit.titre }}">
                    </div>
                    <div class="col-8 my-auto">
                        {{ produit.produit.titre }}<br>
                        <small>{{ produit.produit.soustitre }}
                        <br>
                        x {{ produit.quantity}}</small>
                    </div>
                    <div class="col-2 my-auto">
                        {{ ((produit.produit.prix * produit.quantity) / 100) | number_format(2) }} &euro;
                    </div>
                </div>
            {% set total = total + (produit.produit.prix * produit.quantity) %}
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="row justify-content-end">
        <div class="col-lg-4 col-md-6">
            <table>
                <tr>
                    <td><strong>Total du panier: </strong></td>
                    <td> &nbsp;&nbsp;&nbsp; </td>
                    <td>{{ (total / 100) | number_format(2) }} &euro;</td>
                </tr>
                 <tr>
                    <td><strong>Dont TVA:</strong></td>
                    <td> &nbsp;&nbsp;&nbsp; </td>
                    <td><small>{{ (total / 100) * (20/100) | number_format(2) }} &euro;</small></td>
                </tr>
                <tr>
                    <td><strong>Livraison: </strong></td>
                    <td> &nbsp;&nbsp;&nbsp; </td>
                    <td>{{ (transporteur.prix / 100) | number_format(2) }} &euro;</td>
                </tr>
                <tr>
                    <td><strong>Total de ma commande: </strong></td>
                    <td> &nbsp; &nbsp; &nbsp; </td>
                    <td>{{ ((total / 100) + (transporteur.prix / 100)) | number_format(2) }} &euro;</td>
                    <td>&nbsp;<small>TTC</small></td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <div class="text-right">
        <button id="checkout-button" class="btn btn-block btn-lg btn-dark" style="padding: 20px;"><strong>Payer ma commande ({{ ((total / 100) + (transporteur.prix / 100)) | number_format(2) }} &euro; TTC)</strong></button>
    </div>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript">
    var stripe = Stripe("pk_test_51HlWG3GucqTraIY3PlMgPWTFdeav6LcwWNWBPkq790lHtuZ98jjamG2gWCPAXUT1ismvcWhMaMK9Joq1ZF0yxP4s00Jsu4DndS");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
        fetch("http://127.0.0.1:8000/commande/create-session/{{ reference }}", {
            method: "POST",
        })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
            if(session.error == 'commande') {
                window.location.replace('{{ path('commande_livraison') }}');
            } else {
                return stripe.redirectToCheckout({ sessionId: session.id });
            }
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>
{% endblock %}