{% extends 'base.html.twig' %}

{% block title %}Livraison de ma commande{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1> Ou et comment me livrer?</h1>
    <p>Choissisez votre adresse et votre mode de livraison.</p>
    <hr>
    <div class="row">
        <div class="col">
            {% set formHtml %}
            {{ form_start(form, {action:path('commande_validation')}) }}
            <h3>
            {{ form_label(form.adresses, 'Choisissez votre adresse de livraison:')}}
            </h3>
            {{ form_widget(form.adresses)}}
            <br>
            <div class="text-left">
                <a href="{{ path('adresse_add')}}" class="custom-link" style="font-size: 15px;"><i class="fas fa-map-marker-alt"></i> Ajouter une nouvelle adresse</a>
            </div>
            <hr>
            <h3>
            {{ form_label(form.transporteurs, 'Choisissez votre transporteur:')}}
            </h3>
            {{ form_widget(form.transporteurs)}}
            {{ form_end(form) }}
            {% endset %}
            {{ formHtml | replace({'[br]' : '<br>'}) | raw }}
        </div>
    </div>
</div>
{% endblock %}
