<!-- Navbar -->
    <div class="container">
       
        <a href="https://www.instagram.com/atelier_berthie/" target="_blank">Insta</a>

        <a href="{{ path('produits') }}">Shop</a>

        <a href="{{ path('home') }}">Logo</a>    

        <a href="{{ path('about') }}">About</a>       

        {% if app.user %}
            <a href="{{ path('account') }}">Mon compte</a> | <a href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}">Connexion</a>
        {% endif %}

        <a href="{{ path('cart') }}" class="mx-3"><i class="fas fa-shopping-cart"></i></a>

    </div>
