    <div class="app600 mt-4">
        <a href="{{ path('home') }}"><img src="{{ asset("assets/img/BerthieLogo.png") }}" class="logo" alt="Le Logo de Berthie"></a>
        <a href="{{ path('cart') }}" class="panier">
                <i class="fas fa-shopping-cart"></i>
        </a>
    </div>    
    <div id="navbar">
        <div class="nav-ab-item text-center">
            <a href="https://www.instagram.com/atelier_berthie/" target="_blank">INSTA</a>
        </div>
        <div class="nav-ab-item text-center">
            <a href="{{ path('produits') }}">SHOP</a>
        </div>
        <div class="nav-ab-item text-center disp600">
            <a href="{{ path('home') }}"><img src="{{ asset("assets/img/BerthieLogo.png") }}" class="logo" alt="Le Logo de Berthie"></a>
        </div>
        <div class="nav-ab-item text-center">
            <a href="{{ path('about') }}">ABOUT</a>
        </div>
        {% if app.user %}
            <div class="nav-ab-item text-center">
                <a href="{{ path('account') }}">YOU</a>
            </div>
        {% else %}
            <div class="nav-ab-item text-center">
                <a href="{{ path('app_login') }}">YOU</a>
            </div>
        {% endif %}
    </div>
        <a href="{{ path('cart') }}" class="panier disp600">
            <i class="fas fa-shopping-cart"></i>
        </a>