    <div class="app600 mt-5">
        <a href="{{ path('home') }}"><img src="{{ asset("assets/img/BerthieLogo.png") }}" class="logo" alt="Le Logo de Berthie"></a>
    </div>
    <div class="container-fluid">
        <div id="navbar">
            <div class="nav-ab-item text-center disp600">
                <a href="{{ path('home') }}"><img src="{{ asset("assets/img/BerthieLogo.png") }}" class="logo" alt="Le Logo de Berthie"></a>
            </div>
            <div class="nav-ab-item text-center text-md-left">
                <a href="https://www.instagram.com/atelier_berthie/" target="_blank">INSTA</a>
            </div>
            <div class="nav-ab-item text-center text-md-left">
                <a href="{{ path('produits') }}">SHOP</a>
            </div>
            <div class="nav-ab-item text-center text-md-left">
                <a href="{{ path('about') }}">ABOUT</a>
            </div>
        </div>
    </div>  
    <div class="panier">
        {% if app.user %}
        <div class="dropdown" style="padding: 10px;">
            <a href="{{ path('app_login') }}" class="dropdown-toggle" id="accountDropdownLink"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                <a href="{{ path('account') }}" class="dropdown-item text-center"><small>Mon compte</small></a>
                <a href="{{ path('app_logout') }}" class="dropdown-item text-center"><small>Se déconnecter</small></a>
            </div>
        </div>
        {% else %}
        <div style="padding: 10px;">
        <a href="{{ path('app_login') }}"><i class="fas fa-user"></i></a>
        </div>
        {% endif %}
        <div style="padding: 8px;">
        <a href="{{ path('cart') }}"><img src="{{ asset("assets/img/bag-16.png") }}"></a>
        </div>
    </div>