<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=" Atelier Berthie - Votre boutique de bijous fait-main à Vannes.">
    <meta name="author" content="Olivia & Berthie">   
    <title>Atelier Berthie - {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico"/>
    {% block javascript %}
    {% endblock %}
    {% block stylesheet %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{{ include('common/header.html.twig') }}
{% for message in app.flashes('success') %}
        <div class="alert alert-info text-center">
            {{ message }}
        </div>
{% endfor %}
{% for message in app.flashes('error') %}
        <div class="alert alert-info text-center">
            {{ message }}
        </div>
{% endfor %}        
{% block body %}
{% endblock %}
{{ include('common/footer.html.twig') }}
    <!-- Font Awesome icons (free version)-->
	<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</body>
{% block script %}
{% endblock %}
</html>