<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" Atelier Berthie - Votre boutique de bijous fait-main à Vannes.">
    <meta name="author" content="Atelier Berthie">
    <title>Atelier Berthie - {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico"/>
        <!-- App font CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Italianno&family=Niconne&family=Open+Sans+Condensed:wght@300&family=Roboto:wght@400;700&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:wght@400;700&family=Sacramento&display=swap" rel="stylesheet">        
    <!-- App core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <link  rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
    {% block javascript %}
    {% endblock %}
</head>
<body>
<div class="page-top">
    {{ include('common/header.html.twig') }}
    {% for message in app.flashes('success') %}
            <div class="alert alert-info text-center">
                {{ message }}
            </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
            <div class="alert alert-info text-center">
                {{ message }}
            </div>
    {% endfor %}        
    {% block body %}
    {% endblock %}
 </div>   
    {{ include('common/footer.html.twig') }}
</body>
{% block script %}
{% endblock %}
<!-- Font Awesome icons (free version)-->
	<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</html>